In [1]:
import pandas as pd
import numpy as np

print("basic imports OK")

basic imports OK

In [2]:
import sys

sys.executable

'/Users/alhajm/london-bike-demand/venv/bin/python3.12'

In [8]:
from src.data_io import load_bike_data
from src.transform import make_features

print("project imports OK")

project imports OK

/Users/alhajm/london-bike-demand/venv/lib/python3.12/site-packages/pandera/_pandas_deprecated.py:149: FutureWarning: Importing pandas-specific classes and functions from the
top-level pandera module will be **removed in a future version of pandera**.
If you're using pandera to validate pandas objects, we highly recommend updating
your import:

```
# old import
import pandera as pa

# new import
import pandera.pandas as pa
```

If you're using pandera to validate objects from other compatible libraries
like pyspark or polars, see the supported libraries section of the documentation
for more information on how to import pandera:

https://pandera.readthedocs.io/en/stable/supported_libraries.html

To disable this warning, set the environment variable:

```
export DISABLE_PANDERA_IMPORT_WARNING=True
```

  warnings.warn(_future_warning, FutureWarning)

In [7]:
import sys

sys.path.append("..")
sys.path.append(".")

In [11]:
df = load_bike_data("../data/raw/london_merged.csv")
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,1.0,0.0,1.0,3.0

In [12]:
df_feat = make_features(df)
df_feat.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,...,month,year,dayofyear,is_weekend_bool,temp_bin,is_rush_hour,is_working_hour,cnt_roll_mean_24h,cnt_lag_1,cnt_lag_24
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,3.0,0.0,1.0,3.0,...,1,2015,4,1,cold,0,0,182.000000,NaN,NaN
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,1.0,0.0,1.0,3.0,...,1,2015,4,1,cold,0,0,160.000000,182.0,NaN
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,1.0,0.0,1.0,3.0,...,1,2015,4,1,cold,0,0,151.333333,138.0,NaN
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,1.0,0.0,1.0,3.0,...,1,2015,4,1,cold,0,0,131.500000,134.0,NaN
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,1.0,0.0,1.0,3.0,...,1,2015,4,1,cold,0,0,114.600000,72.0,NaN